
html, body {margin: 0; height: 100%; overflow: hidden}

.workspace
{
    max-height: 100%;
    flex-grow: 1;
}

.ndbTopbar
{
    flex-grow: 0;
}

.dbgState
{
    height: 100%;
    width: 100%;
}


.code
{
    height: 100%;
}

.machineState
{
    display: inline-block;
    background-color: #700090;
    height: 100%;
}

.code #codeTabs .nav-item
{
    background-color: #e8e8f0;
}

.dbgPane
{
}

.codeView
{
    flex: 1 1 auto;
    width: 40%;
}

.machineView
{
    flex: 1 1 auto;
    width: 60%;
}

#codeTabs
{
    /* flex: 0 0 min-content; */
}

#codeTabContent
{
    border-color: #700090;
    width:100%;
    max-height: 100%;
    height: 100%;
    overflow: scroll;
}


#template
{
    background-color: #dfdfdf;
    border-width: 3px;
    border-color: #700090;
    margin: 1px;
}


#constraint
{
    background-color: #dfdfdf;
    border-width: 3px;
    border-color: #700090;
    margin: 1px;
    height: 100%;
    overflow: scroll;
}

#satisfier
{
    background-color: #dfdfdf;
    border-width: 3px;
    border-color: #700090;
    margin: 1px;
    height: 100%;
    overflow: scroll;
}

#help
{
    margin: 1px;
}

#helpContent
{
    max-height: 100%;
    height: 100%;
    overflow: scroll;
    overflow-wrap: anywhere;
    max-height: 80vh;
}

#templateContent
{
    max-height: 100%;
    height: 100%;
    overflow: scroll;
    overflow-wrap: anywhere;
   /* max-height: 80vh; */
}

.docbox
{
    overflow-y: auto;
    overflow-wrap: normal;
    width: 100%;
    height: 90%;
}

.backgroundIdentifier
{
    float: right;
    margin: 10px;
    color: #808080;
    font-size: 200%;
}

.stack
{
    background-color: #cfcfcf;
    margin: 1px;
    height: 50%;
    width: 100%;
}

.altstack
{
    background-color: #cfcfcf;
    margin: 1px;
    height: 50%;
    width: 100%;
}

.stack, .altstack, .machineState, .codeView
{
    resize: both;
    overflow: auto;
    flex-grow: 1;
}

.stackTable
{
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    th+th,td+td{border-left: 2px solid black}
    th, td{padding: 5px;}
    tr+tr {border-bottom: 1px solid black}
    td:nth-child(5),th:nth-child(5){width: 10%}                           /*Index*/
    td:nth-child(4),th:nth-child(4){width: 10%}                           /*Type*/
    td:nth-child(3),th:nth-child(3){width: 10%}                           /*Length*/
    td:nth-child(2),th:nth-child(2){width: 35%; overflow-wrap: anywhere;} /*Value in Decimal*/
    td:nth-child(1),th:nth-child(1){width: 35%; overflow-wrap: anywhere;} /*Value in Hex*/


}

.machineRegisters
{
    background-color: #cfcfff;
    margin: 1px;
    min-width: 100%;
    flex-wrap: wrap;
}

#codePosMarker
{
    display:inline-block;
    color: #008000;
}

#scriptRunningMarker
{
    display:inline-block;
    color: #008000;
}

.currentScriptLine
{
    background-color: yellow;
}

.postForkRegisterContainer
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.postForkRegister
{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 2px;
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    overflow-wrap: anywhere;
}
.registerLabel
{
    display: inline-block;
    background: #DFF6FF;
    border-radius: 20%;
    padding: 5px;
    font-size: 80%;
}